table, th, td {
    border: 2px solid rgb(48, 22, 1);
    margin-left: auto;
    margin-right: auto;
}
img {
    width:20px;
    height:20px;
}
tr.r1 {
    background-color: rgb(210, 186, 113);
}
tr.r2 {
    background-color: rgb(209, 196, 156);
}
tr.r3 {
    background-color: rgb(210, 202, 180);
} 