body {
    background-color: beige;
}
h1 {
    font-family:Papyrus;
    font-size:300%;
    text-align: center;
}
h2 {
    font-family:'Montserrat', sans-serif;
    font-size:100%;
    text-align: left; 
}
img {
  border: 5px solid rgb(251, 115, 5);
  box-shadow: 0 2 black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: top;
  box-shadow: 7px 7px 7px #827b7b;
}